* {
    box-sizing: border-box;
}
body {
    background: url("../Images/weather.png")
}
#title {
    background:white;
    border: 3px dashed grey;
    width: 400px;
    text-align: center;
    margin: 0 auto;
    font-family: 'Chango', cursive;;
    font-weight: bold;
}
#directions {
    background: url("../Images/cloth_alike.png");
    border: 2px solid grey;
    width: 600px;
    text-align: center;
    margin: 0 auto;
    font-family: 'Merienda', cursive;
    color: lightcoral;
    font-weight: bold;
}
#number {
    background: lightcoral;
    border: 2px solid grey;
    color: black;
    width: 48%;
    text-align: center;
    margin: 4px auto;
    font-family: 'Merienda', cursive;
    font-weight: bold;
    float: left;
    height: 80px;
    
}
#WinLoss {
    background: lightskyblue;
    color: black;
    border: 2px solid grey;
    width: 48%;
    text-align: center;
    margin: 5px auto;
    font-family: 'Merienda', cursive;
    font-weight: bold;
    float: right;
    height: 80px;
}
#wrapper {
    width: 600px;
    margin: auto;
    text-align: center;
    overflow: hidden;
    background: url("../Images/cloth_alike.png");
    border: 2px solid grey;

}
#wrapper2 {
    clear: both;
    text-align: center;
    width: 600px;
    margin: auto;
    
    background: url("../Images/cloth_alike.png");
    border: 2px solid grey;
}
#wrapper3 {
    width: 500px;
    margin: auto;
    background: url("../Images/cloth_alike.png");
    border: 2px solid grey;
}
img {
    width: 20%;
    height: 20%;
    margin: 5px;
    
    border: 2px solid grey;
}
#score {
    clear: both;
    background: lightgreen;
    color: black;
    border: 2px solid grey;;
    width: 300px;
    text-align: center;
    margin: 5px auto;
    
    font-family: 'Merienda', cursive;
    font-weight: bold;
    
    height: 40px;
}
#userGuess {
    background: lightgreen;
    color: black;
    border: 2px solid grey;;
    width: 300px;
    text-align: center;
    margin: 5px auto;
    font-family: 'Merienda', cursive;
    font-weight: bold;
    font-size: 35px;
    height: 100px;
}